.t_select{
    width: 80px;
    font-weight: bold;
}
.lowerCase{
    text-transform: lowercase;
}
.lowerCase:first-letter{
    text-transform: uppercase;
}
.img_cert{
    width: 150px;
    height:80px;
}
.table_height{
    height:500px;
    background:#e5e5e5;
}
.autoFoto{
    display: block;
    max-width: 230px;
    max-height: 200px;
    width: auto;
    height: auto;
}
.uk-grid div img {
    margin: 10px 0 10px 0;
}
#werkzaameheden {
    margin-left: 50px;
}
